%h1 #{@agent_name} Objectives
%p
  = link_to 'Community', community_objectives_path
  |
  = link_to 'Pod', pod_objectives_path
  |
  = link_to 'Individual', people_objectives_path

- if @agents.class == Array
  = link_to "Edit #{@agent_name}", rails_admin.edit_path(model_name: 'community', id: @agents.first.id)

- @agents.each do |agent|
  .agent{id: "agent-#{agent.id}"}
    %h2.name= link_to agent.name, agent_path(agent)
    .objectives
      -if agent.objectives.empty?
        No objectives, add some in the #{link_to 'Admin Area', rails_admin.new_path(model_name: 'objective')}
      -else
        -agent.objectives.each do |objective|
          .objective{id: "objective-#{objective.id}"}
            %h4.title= link_to "(#{objective.date ? time_ago_in_words(objective.date) : '-'}) #{objective.title}", rails_admin.show_path(model_name: 'objective', id: objective.id)
            .description= objective.description

