!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ObjetiveMapperPrototype
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      %ul
        - if logged_in?
          %li= link_to 'Introduction', root_path
          %li= link_to 'Objectives', people_objectives_path
          %li= link_to 'Admin', rails_admin_path
          %li= link_to 'Logout', logout_path
        - else
          %li= link_to 'Login', login_path
    = yield
